---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import heroImage from '@/assets/hero_image.png'
import Hero from '@/components/ui/Hero.astro'
import PageSection from '@/components/ui/PageSection.astro'
import PaperItem from '@/components/paper/PaperItem.astro'

import { getCollection } from 'astro:content'

const { fullName, title, institute, research_interests, research_areas } = profile


const publications = (await getCollection('paper'))
	.sort((a, b) => b.data.year - a.data.year)
	.slice(0, 5);
---

<Layout>
	<!-- Hero Section -->
	<section class='flex gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
			heroImage={heroImage}
		/>
	</section>

	<!-- Research Areas -->
	<section class='py-12 border-b'>
		<PageSection sectionTitle='Research Interests' sectionContents={research_interests} />
	</section>

	<!-- Latest Publications -->
	<section class='py-12 border-t'>

		<div class="space-y-8">
			<h2 class='text-3xl font-bold mb-8'>Latest Publications</h2>
			{
				publications.map((paper) => (
					<PaperItem paper={paper} />			
				))
			}
		</div>
	</section>
</Layout>
