---
import Layout from "@/layouts/Layout.astro";
// import { publications } from "@/data/papers";
import { highlightAuthor } from "@/lib/utils";
import {template} from "@/settings";
import { getCollection } from 'astro:content'

import Paper from '@/assets/paper.svg'

// const ALL_PAPERS = publications; // This will be replaced with dynamic data later

const publications = (await getCollection('paper'))
	.sort((a, b) => b.data.year - a.data.year)

---

<Layout title="Publication">
  <div class="prose max-w-none">
    
    <div class="flex items-center gap-2 mb-8">
      <Paper class="size-12" fill="currentColor" />
      <h1 class="text-3xl font-bold mt-4">Publications</h1>
    </div>


    <div class="space-y-8">
      {
        publications.map((paper) => (
          <div class="card bg-base-200">
            <div class="card-body p-3">
              <h2 class="card-title m-0 text-xl">
                {paper.data.title}
              </h2>
              <p class="text-base m-0">
                <span set:html={highlightAuthor(paper.data.authors)} />
              </p>
              <p class="text-base m-0">
                <span class="italic">{paper.data.venue}</span> • {paper.data.year}
              </p>

              {paper.data.url && 
                <div class="card-actions justify-end m-0">
                  <a href={paper.data.url} target="_blank" class="btn btn-sm btn-info text-secondary-content">
                    Read Paper
                  </a>
                </div>
              }
            </div>
          </div>
        ))
      }
    </div>

  </div>
</Layout>
