---
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "@/layouts/Layout.astro";
// import {template} from "@/settings";

import Talk from '@/assets/talk.svg'

import { getCollection } from 'astro:content'

// export async function getStaticPaths(): Promise<Astro.getStaticPathsResult> {
//     const talkEntries = await getCollection('talk');

//     const talks = talkEntries
//         .map(talk => ({
//             title: talk.data.title,
//             date: talk.data.date,
//             venue: talk.data.venue,
//             category: talk.data.category,
//         }))
//         .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());

//     return talks;
// }


const talks = (await getCollection('talk')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const { page } = Astro.props
---

<Layout title="Talks">
  <div class="prose max-w-none">


    <div class="flex items-center gap-2 mb-8">
      <Talk class="size-12" fill="currentColor" />
      <h1 class="text-3xl font-bold mt-4">Talks</h1>
    </div>

    <div class="space-y-8">
      {
        talks.map((talk) => (
          <div class="card bg-base-200">
            
            <div class="card-body">
              <h2 class="card-title m-0 text-xl">
                  {talk.data.title}
              </h2>
              <p class="text-base m-0">
                <span class="italic">{talk.data.venue}</span>
              </p>
              <p class="text-base m-0">{talk.data.category}  • <FormattedDate date={talk.data.date}/></p>

              {talk.data.url && 
                <div class="card-actions justify-end m-0">
                  <a href={talk.data.url} target="_blank" class="btn btn-sm btn-accent">
                    View Slides
                  </a>
                </div>
              }


            </div>
          </div>
        ))
      }
    </div>

  </div>
</Layout>
