---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'


const {fullName, title, institute, heroImage} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-bold mb-4'>
    Welcome! I'm <span class='text-primary'>{fullName}</span>
  </h1>
  <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>
  <p class='text-lg mb-6'>

Amin Anjomshoaa is a senior researcher at the Institute for Data, Process, and Knowledge Management at the Vienna University of Economics and Business (WU Vienna). He also serves as the Studio Director for both the Data Science Studio in Vienna and the SDIS Studio in Lower Austria. Amin is a Marie Skłodowska-Curie Fellow and an Erwin Schrödinger Fellow, with a distinguished background as a researcher and project lead at prestigious institutions, including the Massachusetts Institute of Technology (MIT), Complexity Science Hub Vienna, the National University of Ireland, Lero (Science Foundation Ireland), SBA Research Austria, and the Vienna University of Technology.
Amin completed his Ph.D. in Computer Science at the Vienna University of Technology in 2009. He holds dual Master’s degrees in Software Engineering & Internet Computing (2005) and Information Management (2007), both from the Vienna University of Technology, and a Bachelor’s degree in Applied Mathematics from the University of Kerman.
His research centers on interdisciplinary, data-driven technologies, covering areas such as the Semantic Web, Linked Data, Knowledge Graphs, Data Spaces, Smart Cities, the Internet of Things (IoT), and Machine Learning.

  </p>
  <div class='flex gap-4'>
    <SocialIcons />
  </div>
</div>
<div class='size-72 lg:block hidden'>
  <!-- Add your profile image -->
  <Image
    src={heroImage}
    alt={fullName}
    class='w-full rounded-lg'
  />
</div>
